node_modules/
# dist/  # Temporarily disabled for electron-builder
dist-electron/
release/
release2/
backend/__pycache__/
backend/**/__pycache__/
backend/data/
data/
build/
*.pyc
*.pyo
*.spec
.env
.vite/
.DS_Store
Thumbs.db
/dist
*.log
